src/main/resources/wvapp/wvapp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="url" type="xs:anyURI" />
    <xs:element name="icon" type="xs:string" />

    <xs:element name="wvapp">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="url" />
                <xs:element ref="icon" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>